<h1>Iniciar sesión</h1>

<%= form_with url: login_path, method: :post, local: true, data: { turbo: false } do %>
  <% if flash[:alert] %>
    <p style="color: red;"><%= flash[:alert] %></p>
  <% end %>

  <div style="margin-bottom: 10px;">
    <%= label_tag :email %><br>
    <%= text_field_tag :email, params[:email], style: "padding: 5px; width: 250px;" %>
  </div>

  <div style="margin-bottom: 10px;">
    <%= label_tag :password %><br>
    <%= password_field_tag :password, nil, style: "padding: 5px; width: 250px;" %>
  </div>

  <div>
    <%= submit_tag "Entrar", style: "padding: 5px 10px;" %>
  </div>
<% end %>
