<div id="<%= dom_id bike_service %>">
  <p>
    <strong>User:</strong>
    <%= bike_service.user_id %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= bike_service.descripcion %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= bike_service.date %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= bike_service.cost %>
  </p>

</div>
