<p style="color: green"><%= notice %></p>

<div>
  <p>
    <strong>Nombre:</strong>
    <%= @user.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= @user.apellido %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= @user.telefono %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>



  <%= link_to "Editar cliente", edit_user_path(@user), class:"btn btn-sm btn-outline-success mb-2" %>
  <%= link_to "Nuevo servicio", new_user_bike_service_path(@user), class:"btn btn-sm btn-outline-success mb-2" %>
  <%= link_to 'Historial de Servicios', user_bike_services_path(@user), class:"btn btn-sm btn-outline-success mb-2" %>
  <%= link_to "Volver", users_path, class:"btn btn-sm btn-outline-success" %>
</div>
