<p style="color: green"><%= notice %></p>

<div class="user-show">
  <p>
    <strong>Nombre:</strong>
    <%= @user.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= @user.apellido %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= @user.telefono %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong class="fs-5">Total a pagar: <%= @total_price_services %>€ <strong>
  </p>




  <div class="user-show-links">

    <%= link_to "Editar cliente", edit_user_path(@user), class:"btn btn-sm btn-outline-success" %>
    <%= link_to "Nuevo servicio", new_user_bike_service_path(@user), class:"btn btn-sm btn-outline-success" %>
    <%= link_to "Volver", users_path, class:"btn btn-sm btn-outline-success" %>

  </div>

</div>

<div class="bike-service-list">
  <% @user_services.each do |service| %>
    <div data-aos="flip-left" class="bike-service-item">

      <p>
        <%= @user.id %>
      </p>
      <p>
        Descripcion: <%= service.descripcion %>
        <%= link_to "Borrar", user_bike_service_path(service.user, service) , method: :delete, data: { confirm: "¿Estás seguro que quieres borrar este servicio?" }, class: "btn btn-sm btn-outline-danger" %>
      </p>

      <p>
        Fecha: <%= service.date %>
      </p>

      <p>
        Precio: <%= service.cost %>€
      </p>


    </div>
  <% end %>

</div>
