<!DOCTYPE html>
<html>
  <head>
    <title>Bikesec</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/confetti.css", media: "all" %>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <%= javascript_importmap_tags %>

  </head>

  <body>
    <div class="logo">
       <%= link_to users_path do %>
        <%= image_tag "bikesec-logo1.png", alt: "logo1" %>
      <% end %>
    </div>

    <%= yield %>





    <%= turbo_include_tags %>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        startEvent: 'DOMContentLoaded'
      });
    </script>
  </body>
</html>
